- Objective of this notebook is to construct a table with all the triples necessary for the KG proposed.

In [1]:
import pandas as pd
import numpy as np
from tabula import read_pdf
import re

In [2]:
bi_file = read_pdf('./MK_MSc_Wifo_2022_2023_29082022.pdf',pages="all")

Got stderr: Nov 03, 2022 7:21:40 PM org.apache.fontbox.ttf.CmapSubtable processSubtype14
WARNING: Format 14 cmap table is not supported and will be ignored
Nov 03, 2022 7:21:40 PM org.apache.fontbox.ttf.CmapSubtable processSubtype14
WARNING: Format 14 cmap table is not supported and will be ignored

In [3]:
len(bi_file)

188

In [4]:
bi_file_copy = bi_file.copy()

In [5]:
wifo_df = []
for table in bi_file_copy:
    if len(table)>2:
        wifo_df.append(table)

In [6]:
len(wifo_df)

103

In [7]:
wifo_df[2].head()

           CS 500 Unnamed: 0             Advanced Software Engineering
0  Form of module        NaN       Lectures and accompanying tutorials
1  Type of module        NaN              Computer Science Fundamental
2           Level        NaN                                    Master
3            ECTS        NaN                                         6
4             NaN        NaN  Hours per semester present: 56 h (4 SWS)

In [8]:
courses = pd.read_csv('./MMDS_Courses.csv')
courses

,code,Name of Module,Offered,Language,ECTS,moduleCategory
0,CS 450,Programming Course,HWS,E,6,Fundamentals
1,CS 460,Database Technology,FSS,E,6,Fundamentals
2,CS 470,Python for Data Scientists,FSS,E,6,Fundamentals
3,NaN,Multivariate Analyses,HWS,E,6,Fundamentals
4,NaN,Tutorial Multivariate Analyses,HWS,E,2,Fundamentals
5,NaN,Empirische Methoden der Politik- wissenschaft,HWS,G/E,6,Fundamentals
6,AC 651,Additional Course – Data Manage- ment,HWS/FSS,E,AC 651*,Data Management
7,CS 500,Advanced Software Engineering,HWS,E,6,Data Management
8,CS 530,Database Systems II,FSS,E,6,Data Management
9,CS 550,Algorithmics,FSS/HWS,E,6,Data Management
10,CS 560,Large Scale Data Management,HWS,E,6,Data Management
11,CS 600,Model-driven Development,HWS,E,6,Data Management
12,CS 662,Types and Programming Languages,HWS,E,6,Data Management
13,IS 540,Management of Enterprise Systems,HWS,E,6,Data Management
14,IS 556,Public Blockchains,FSS,E,3,Data Management
15,IE 630,Query Optimization,FSS,E,6,Data Management
16,IE 650,Knowledge Graphs,HWS,E,6,Data Management
17,IE 663,Information Retrieval and Web Search,HWS,E,3,Data Management
18,IE 670,Web Data Integration,HWS,E,3,Data Management
19,IE 691,Information Retrieval Project,HWS,E,3,Data Management
20,IE 683,Web Data Integration Project,HWS,E,3,Data Management
21,AC 652,Additional Course – Data Analytics Methods,HWS/FSS,E,AC 652*,Data Analytics
22,DA 110,Computational Analysis of Communication,HWS,E,6,Data Analytics
23,IE 500,Data Mining I,HWS/FSS,E,6,Data Analytics
24,IE 560,Decision Support,HWS,E,6,Data Analytics
25,IE 661,Text Analytics,HWS,E,6,Data Analytics
26,IE 671,Web Mining,FSS,E,3,Data Analytics
27,IE 672,Data Mining II,FSS,E,6,Data Analytics
28,IE 675b,Machine Learning,HWS,E,9,Data Analytics
29,IE 676,Network Analysis replaced by IS 622 (FSS),HWS,E,6,Data Analytics
30,IE 678,Deep Learning,FSS,E,6,Data Analytics
31,IE 684,Web Mining Project,FSS,E,3,Data Analytics
32,IE 692,Advanced Process Mining,FSS,E,6,Data Analytics
33,IE 694,Artificial Intelligence Applications in Industry,FSS,E,6,Data Analytics
34,IE 696,Advanced Methods in Text Analytics,FSS,E,6,Data Analytics
35,IS 622,Network Science**,FSS,E,6,Data Analytics
36,MAA 519,Stochastic Calculus,HWS,E,5,Data Analytics
37,MAB 504,Mathematics and Information,irregular,G,8,Data Analytics
38,MAB 508,Algebraische Statistik,irregular,G/E,8,Data Analytics
39,MAC 404,Optimierung,HWS,G,8,Data Analytics
40,MAC 502,Computational Finance,FSS,G/E,6,Data Analytics
41,MAC 507,Nichtlineare Optimierung,FSS,G/E,6,Data Analytics
42,MAC 527,Markov Processes,FSS,E,4,Data Analytics
43,MKT 511,Marketing Analytics,FSS,E,6,Data Analytics
44,MKT 545,"Customers, Markets and Firm Strategy",FSS,E,6,Data Analytics
45,CS 652,Data Security and Privacy,FSS,E,6,Responsible Data Science
46,NaN,Legal and Ethical Aspects of Privacy,HWS,E,3,Responsible Data Science
47,CS 718,AI and Data Science in Fiction and Society,HWS,E,4,Responsible Data Science

In [9]:
mask_na = courses.code.notna()
courses_ = courses[mask_na].copy()
wifo_df_idx = []
for item in courses_.code:
    for idx in range(len(wifo_df)):
        if item==wifo_df[idx].columns[0]:
            wifo_df_idx.append([idx,item])
            break
wifo_df_idx

[[2, 'CS 500'],
 [4, 'CS 530'],
 [5, 'CS 550'],
 [8, 'CS 560'],
 [18, 'CS 600'],
 [28, 'CS 662'],
 [30, 'IE 630'],
 [32, 'IE 650'],
 [37, 'IE 663'],
 [39, 'IE 670'],
 [58, 'IE 691'],
 [54, 'IE 683'],
 [10, 'IE 500'],
 [12, 'IE 560'],
 [35, 'IE 661'],
 [41, 'IE 671'],
 [43, 'IE 672'],
 [45, 'IE 675b'],
 [47, 'IE 676'],
 [49, 'IE 678'],
 [56, 'IE 684'],
 [51, 'IE 692'],
 [60, 'IE 694'],
 [62, 'IE 696'],
 [24, 'CS 652']]

In [10]:
def extract_item(lst):
    return [item[1] for item in lst]

matched_courses_wifo = extract_item(wifo_df_idx)
matched_courses_wifo

['CS 500',
 'CS 530',
 'CS 550',
 'CS 560',
 'CS 600',
 'CS 662',
 'IE 630',
 'IE 650',
 'IE 663',
 'IE 670',
 'IE 691',
 'IE 683',
 'IE 500',
 'IE 560',
 'IE 661',
 'IE 671',
 'IE 672',
 'IE 675b',
 'IE 676',
 'IE 678',
 'IE 684',
 'IE 692',
 'IE 694',
 'IE 696',
 'CS 652']

In [11]:
unmatched_course_in_wifo = []
for item in courses_.code:
     if item not in matched_courses_wifo:
            unmatched_course_in_wifo.append(item)
unmatched_course_in_wifo

['CS 450',
 'CS 460',
 'CS 470',
 'AC 651',
 'IS 540',
 'IS 556',
 'AC 652',
 'DA 110',
 'IS 622',
 'MAA 519',
 'MAB 504',
 'MAB 508',
 'MAC 404',
 'MAC 502',
 'MAC 507',
 'MAC 527',
 'MKT 511',
 'MKT 545',
 'CS 718']

In [12]:
data_science_file = read_pdf("./MK_MMDS_2022_23_neue_PO_29082022.pdf", pages="all")
df_mmds = []
for table in data_science_file:
    if len(table)>2:
        df_mmds.append(table)

In [13]:
df_mmds_idx = []
for item in unmatched_course_in_wifo:
    for idx in range(len(df_mmds)):
        if item==df_mmds[idx].columns[0]:
            df_mmds_idx.append([idx,item])
            break
df_mmds_idx

[[2, 'CS 450'],
 [4, 'CS 460'],
 [6, 'CS 470'],
 [9, 'AC 651'],
 [12, 'AC 652'],
 [13, 'DA 110'],
 [18, 'CS 718']]

In [14]:
matched_courses_mmds = extract_item(df_mmds_idx)
matched_courses_mmds

['CS 450', 'CS 460', 'CS 470', 'AC 651', 'AC 652', 'DA 110', 'CS 718']

## Wifo Data Extraction

In [15]:
wifo_df_idx

[[2, 'CS 500'],
 [4, 'CS 530'],
 [5, 'CS 550'],
 [8, 'CS 560'],
 [18, 'CS 600'],
 [28, 'CS 662'],
 [30, 'IE 630'],
 [32, 'IE 650'],
 [37, 'IE 663'],
 [39, 'IE 670'],
 [58, 'IE 691'],
 [54, 'IE 683'],
 [10, 'IE 500'],
 [12, 'IE 560'],
 [35, 'IE 661'],
 [41, 'IE 671'],
 [43, 'IE 672'],
 [45, 'IE 675b'],
 [47, 'IE 676'],
 [49, 'IE 678'],
 [56, 'IE 684'],
 [51, 'IE 692'],
 [60, 'IE 694'],
 [62, 'IE 696'],
 [24, 'CS 652']]

In [16]:
non_course_idx = []
for idx in range(len(wifo_df)):
    if not bool(re.search('^[a-zA-Z]{1,3} ',wifo_df[idx].columns[0])):
       non_course_idx.append(idx)
non_course_idx

[0,
 1,
 3,
 6,
 7,
 9,
 11,
 13,
 14,
 15,
 16,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 53,
 55,
 57,
 59,
 61,
 63,
 65,
 66,
 67,
 69,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98,
 100,
 102]

In [17]:
course_idx = []
for idx in range(len(wifo_df)):
    if bool(re.search('^[a-zA-Z]{1,3} ',wifo_df[idx].columns[0])):
       course_idx.append(idx)
course_idx

[2,
 4,
 5,
 8,
 10,
 12,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49,
 51,
 54,
 56,
 58,
 60,
 62,
 64,
 68,
 71,
 73,
 75,
 77,
 79,
 81,
 83,
 85,
 87,
 89,
 91,
 93,
 95,
 97,
 99,
 101]

In [18]:
three_column_courses = []
for item in course_idx:
    if len(wifo_df[item].columns)>2:
        three_column_courses.append(item)
three_column_courses

[2, 5, 20, 24, 95, 97]

In [19]:
drop_columns = ['Unnamed: 0','Unnamed: 1','Unnamed: 2']

In [20]:
#before drop
wifo_df[5].head()

           CS 550                                  Algorithmics Unnamed: 0
0  Form of module                        Lecture with tutorials        NaN
1  Type of module               Fundamental in Computer Science        NaN
2           Level                                        Master        NaN
3            ECTS                                             6        NaN
4             NaN  Attendance: 56 h per semester (4 h per week)        NaN

In [21]:
#dropping extra columns from the tables that are in three_column_courses
for idx in three_column_courses:
    wifo_df[idx] = wifo_df[idx].loc[:,~wifo_df[idx].columns.isin(drop_columns)].copy()

In [22]:
#after drop
wifo_df[5].head()

           CS 550                                  Algorithmics
0  Form of module                        Lecture with tutorials
1  Type of module               Fundamental in Computer Science
2           Level                                        Master
3            ECTS                                             6
4             NaN  Attendance: 56 h per semester (4 h per week)

In [23]:
one_column_courses = []
for item in course_idx:
    if len(wifo_df[item].columns)==1:
        one_column_courses.append(item)
one_column_courses

[22]

In [24]:
wifo_df[22].head()

                    CS 651 Cryptography II
0        Form of module Inverted classroom
1    Type of module  Specialization course
2                             Level Master
3                                   ECTS 6
4  Hours per semester present: 56h (4 SWS)

In [25]:
#remove the 22 idx from course index
course_idx.remove(22)

In [26]:
len(course_idx)

45

## Non Course Records

In [27]:
three_column_non_courses = []
for item in non_course_idx:
    if len(wifo_df[item].columns)>2:
        three_column_non_courses.append(item)
three_column_non_courses

[0,
 1,
 6,
 11,
 14,
 15,
 16,
 17,
 19,
 25,
 33,
 38,
 50,
 59,
 61,
 65,
 66,
 67,
 72,
 74,
 80,
 82,
 84,
 94,
 96,
 100]

In [28]:
wifo_df[101].head()

           MA 650                   Master Thesis
0  Form of module                   Master Thesis
1  Type of module                          Thesis
2           Level                          Master
3            ECTS                              30
4        Workload  Self study: 840 h per semester

In [29]:
one_column_non_courses = []
for item in non_course_idx:
    if len(wifo_df[item].columns)==1:
        one_column_non_courses.append(item)
one_column_non_courses

[]

In [30]:
# remove  0,1,14,15,16,17,65,66,67 indexes from the three_column_non_courses 
# variable as they do not belong to the courses' detail. Also keep the first two columns only.

In [31]:
# handling the data frames with more thant 3 columns
remove_non_course_idx = [0,1,14,15,16,17,65,66,67]
for i in remove_non_course_idx:
    three_column_non_courses.remove(i)

In [32]:
len(three_column_non_courses)

17

In [33]:
three_column_non_courses

[6, 11, 19, 25, 33, 38, 50, 59, 61, 72, 74, 80, 82, 84, 94, 96, 100]

In [34]:
#before removal of columns
wifo_df[6].tail()

,Unnamed: 0,The students know,efficient,Unnamed: 1,algorithms and,the,most,Unnamed: 2
36,Admission requirements,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,NaN,-,NaN,NaN,NaN,NaN,NaN,NaN
38,for assessment,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,Duration of assessment,90 Minutes,NaN,NaN,NaN,NaN,NaN,NaN
40,Language,English,NaN,NaN,NaN,NaN,NaN,NaN

In [35]:
for idx in three_column_non_courses:
    wifo_df[idx] = wifo_df[idx].loc[:,wifo_df[idx].columns[0:2]].copy()

In [36]:
#after removal of columns
wifo_df[6].tail()

                Unnamed: 0 The students know
36  Admission requirements               NaN
37                     NaN                 -
38          for assessment               NaN
39  Duration of assessment        90 Minutes
40                Language           English

In [37]:
#final non_course indexes
for i in remove_non_course_idx:
    non_course_idx.remove(i)

In [38]:
#Desired output with data frame
final_columns = ['module_code','module_name','property','property_value']
final_frame = pd.DataFrame(columns=final_columns)

In [39]:
final_columns[2:]

['property', 'property_value']

In [40]:
#1st for to append the consider course frames
for idx in range(len(course_idx)):
    course_frame = wifo_df[course_idx[idx]].copy()
    course_name = wifo_df[course_idx[idx]].columns[1]
    course_code = wifo_df[course_idx[idx]].columns[0]
    course_frame.columns = final_columns[2:]
    print(course_idx[idx])
    #if not last course
    if (idx+1)<len(course_idx):
        #2nd for loop to append the non course frames
        for nc_idx in non_course_idx:
            if (nc_idx>course_idx[idx]) & (nc_idx<course_idx[idx+1]):
                intermediate_frame = wifo_df[nc_idx].copy()
                intermediate_frame.columns = final_columns[2:]
                course_frame = pd.concat([course_frame,intermediate_frame],ignore_index = True)
                print('--',nc_idx)
    
    #for last course    
    else:
        for nc_idx in non_course_idx:
            if (nc_idx>course_idx[idx]):
                intermediate_frame = wifo_df[nc_idx].copy()
                intermediate_frame.columns = final_columns[2:]
                course_frame = pd.concat([course_frame,intermediate_frame],ignore_index = True)
                print('--',nc_idx)
    course_frame['module_code'] = course_code
    course_frame['module_name'] = course_name
    final_frame = pd.concat([final_frame,course_frame])
    print('appended')
course_frame.tail()

2
-- 3
appended
4
appended
5
-- 6
-- 7
appended
8
-- 9
appended
10
-- 11
appended
12
-- 13
appended
18
-- 19
appended
20
-- 21
-- 23
appended
24
-- 25
appended
26
-- 27
appended
28
-- 29
appended
30
-- 31
appended
32
-- 33
-- 34
appended
35
-- 36
appended
37
-- 38
appended
39
-- 40
appended
41
-- 42
appended
43
-- 44
appended
45
-- 46
appended
47
-- 48
appended
49
-- 50
appended
51
-- 52
-- 53
appended
54
-- 55
appended
56
-- 57
appended
58
-- 59
appended
60
-- 61
appended
62
-- 63
appended
64
appended
68
-- 69
-- 70
appended
71
-- 72
appended
73
-- 74
appended
75
-- 76
appended
77
-- 78
appended
79
-- 80
appended
81
-- 82
appended
83
-- 84
appended
85
-- 86
appended
87
-- 88
appended
89
-- 90
appended
91
-- 92
appended
93
-- 94
appended
95
-- 96
appended
97
-- 98
appended
99
-- 100
appended
101
-- 102
appended

,property,property_value,module_code,module_name
35,Person in Charge,Professors of the Institute of Computer Scienc...,MA 650,Master Thesis
36,Duration of module,1 semester,MA 650,Master Thesis
37,Further modules,-,MA 650,Master Thesis
38,Range of Applications,M.Sc. Wirtschaftsinformatik,MA 650,Master Thesis
39,Semester,4. Semester,MA 650,Master Thesis

In [41]:
wifo_df[51]

            IE 692                            Advanced Process Mining
0   Form of Module                                            Lecture
1   Type of Module                              Specialization course
2            Level                                             Master
3             ECTS                                                  6
4              NaN                                 150 h per semester
5         Workload  You are expected to be familiar with the use o...
6    Prerequisites  BPMN for process modeling, and being able to d...
7              NaN  programming in Python. IS 515 or having experi...
8              NaN              process mining are NOT prerequisites.
9              NaN  Process mining is an emerging branch of data s...
10             NaN  aims at deriving qualitative and quantitative ...
11             NaN  execution of organizational processes, based o...
12             NaN                       of recorded event sequences.
13             NaN  The course features lectures and exercises tha...
14             NaN  formal foundations, algorithms, and techniques...
15             NaN  mining. Specifically, this course covers aspec...
16             NaN  • Process discovery, which aims to derive a pr...
17             NaN                               from recorded events
18             NaN  • Conformance checking, which aims to identify...
19             NaN              between event data and process models
20             NaN  • Process enhancement, which aims to augment p...
21             NaN  models with information on the temporal, organ...
22   Aim of module                                                NaN
23             NaN                 and data perspectives of a process
24             NaN  • Predictive monitoring, which aims to make pr...
25             NaN                    about ongoing process instances
26             NaN  • Techniques to preprocess, abstract, cluster ...
27             NaN                                  improved analyses
28             NaN  For the above subjects, the course will cover ...
29             NaN  algorithms as well as advanced, state-of-the-a...
30             NaN  During the exercises that follow each lecture,...
31             NaN  practice through pen-and-paper exercises, as w...
32             NaN  implementation and evaluation using open sourc...
33             NaN                        mining tools and libraries.
34             NaN  • The lectures and exercises are complemented ...
35             NaN  practical assignment in which students will wo...

In [42]:
wifo_df[52]

,Unnamed: 0,groups on a project that involves implementation and/or\revaluation of a process mining technique.
0,Learning Outcomes and\rQualification Goals,"After completing this course, you will be able..."
1,Media\rLiterature\rTeaching and Learning\rMethods,•Pen-and-paper plus programming exercises (mai...
2,NaN,•Wil van der Aalst: Process Mining: Data Scien...
3,NaN,•Lectures\r•Homework exercises to practice wit...
4,Form of assessment,80% written exam\r20% group assignment
5,Admission requirements\rfor assessment,-
6,Duration of assessment,"The exam will take 60 minutes, the assignment ..."
7,Language,English
8,Offering,Spring semester
9,Lecturers,Prof. Dr. Han van der Aa
10,Person in charge,Prof. Dr. Han van der Aa
11,Duration of module,1 semester
12,Further modules,-

In [43]:
wifo_df[53]

             Unnamed: 0 M. Sc. Wirtschaftsinformatik, M.Sc. Mannheim Master in
0  Range of Application                                                NaN
1                   NaN                                       Data Science
2              Semester                                       2nd semester

In [44]:
final_frame.head()

,module_code,module_name,property,property_value
0,CS 500,Advanced Software Engineering,Form of module,Lectures and accompanying tutorials
1,CS 500,Advanced Software Engineering,Type of module,Computer Science Fundamental
2,CS 500,Advanced Software Engineering,Level,Master
3,CS 500,Advanced Software Engineering,ECTS,6
4,CS 500,Advanced Software Engineering,NaN,Hours per semester present: 56 h (4 SWS)

In [45]:
len(final_frame)

2106

In [46]:
mask_mmds_courses = final_frame.module_code.isin(list(courses_.code))
final_frame[mask_mmds_courses].head()

,module_code,module_name,property,property_value
0,CS 500,Advanced Software Engineering,Form of module,Lectures and accompanying tutorials
1,CS 500,Advanced Software Engineering,Type of module,Computer Science Fundamental
2,CS 500,Advanced Software Engineering,Level,Master
3,CS 500,Advanced Software Engineering,ECTS,6
4,CS 500,Advanced Software Engineering,NaN,Hours per semester present: 56 h (4 SWS)

In [47]:
len(final_frame[mask_mmds_courses])

1247

In [48]:
final_frame[mask_mmds_courses].tail(40)

,module_code,module_name,property,property_value
13,IE 696,Advanced Methods in Text Analytics,NaN,Analytics” (IE661) in order to introduce stude...
14,IE 696,Advanced Methods in Text Analytics,NaN,"edge problems, techniques and state-of-the-art..."
15,IE 696,Advanced Methods in Text Analytics,NaN,NLP. The course will focus on neural models of...
16,IE 696,Advanced Methods in Text Analytics,NaN,"context (e.g., neural language models and topi..."
17,IE 696,Advanced Methods in Text Analytics,Aim of module,NaN
18,IE 696,Advanced Methods in Text Analytics,NaN,present a variety of “Deep Learning” architect...
19,IE 696,Advanced Methods in Text Analytics,NaN,different applications in human language techn...
20,IE 696,Advanced Methods in Text Analytics,NaN,"summarization, dialogue systems and machine tr..."
21,IE 696,Advanced Methods in Text Analytics,NaN,"Moreover, we will cover open areas of research..."
22,IE 696,Advanced Methods in Text Analytics,NaN,explainability and interpretability of NLP mod...
23,IE 696,Advanced Methods in Text Analytics,NaN,to quantify the degree of bias that they exhibit.
24,IE 696,Advanced Methods in Text Analytics,NaN,Expertise:
25,IE 696,Advanced Methods in Text Analytics,NaN,Students will acquire knowledge of state-of-th...
26,IE 696,Advanced Methods in Text Analytics,NaN,"and methods of Natural Language Processing, wi..."
27,IE 696,Advanced Methods in Text Analytics,NaN,focus on the application of statistical method...
28,IE 696,Advanced Methods in Text Analytics,NaN,language technologies.
29,IE 696,Advanced Methods in Text Analytics,NaN,"(MK1, MK2, MF3)"
30,IE 696,Advanced Methods in Text Analytics,Learning outcomes and,NaN
31,IE 696,Advanced Methods in Text Analytics,NaN,Methodological competence:
32,IE 696,Advanced Methods in Text Analytics,qualification goals,NaN
33,IE 696,Advanced Methods in Text Analytics,NaN,Successful participants will be able to unders...
34,IE 696,Advanced Methods in Text Analytics,NaN,"art methods for Natural Language Processing, a..."
35,IE 696,Advanced Methods in Text Analytics,NaN,"able to select, apply and evaluate the most ap..."
36,IE 696,Advanced Methods in Text Analytics,NaN,techniques for a variety of different practica...
37,IE 696,Advanced Methods in Text Analytics,NaN,oriented scenarios.
38,IE 696,Advanced Methods in Text Analytics,NaN,(MF3)
39,IE 696,Advanced Methods in Text Analytics,Media,"Lecture and tutorial slides, exercise sheets"
40,IE 696,Advanced Methods in Text Analytics,Literature,"•ChrisManningandHinrichSchütze,Foundationsof\r..."
41,IE 696,Advanced Methods in Text Analytics,Methods,"Lectures, tutorials"
42,IE 696,Advanced Methods in Text Analytics,Form of assessment,Written examination
43,IE 696,Advanced Methods in Text Analytics,Admissionrequirements\rfor assessment,-
44,IE 696,Advanced Methods in Text Analytics,Duration of assessment,90 minutes
45,IE 696,Advanced Methods in Text Analytics,Language,English
46,IE 696,Advanced Methods in Text Analytics,Offering,Spring semester
47,IE 696,Advanced Methods in Text Analytics,Lecturer,Prof. Dr. Simone Paolo Ponzetto
48,IE 696,Advanced Methods in Text Analytics,Person in charge,Prof. Dr. Simone Paolo Ponzetto
49,IE 696,Advanced Methods in Text Analytics,Duration of module,1 semester
50,IE 696,Advanced Methods in Text Analytics,Further modules,-
51,IE 696,Advanced Methods in Text Analytics,Range of application,"M.Sc. Wirtschaftsinformatik, MSc. Mannheim Mas..."
52,IE 696,Advanced Methods in Text Analytics,Semester,1st/2nd/3rd semester

In [49]:
mmds_course_data = final_frame[mask_mmds_courses].copy()

In [50]:
#forward filling.
mmds_course_data['property'].ffill(axis=0, inplace=True)
len(mmds_course_data)

1247

In [51]:
#after dropping duplicate records
mmds_course_data.drop_duplicates(inplace=True)
len(mmds_course_data)

1236

In [53]:
#Grouping the property value
mmds_course_data.property_value = mmds_course_data.property_value.astype(str)
mmds_course_data_grouped = mmds_course_data.groupby(['module_code','module_name','property'])['property_value'].apply(lambda x: ','.join(x)).reset_index().copy()

In [54]:
#mmds_course_data_grouped.to_csv('./mmds_course_data.csv',index=False)